// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1b3a6b;
$secondary: #c9a84c;
$accent: #c9a84c;

$dark: #1c1c1e;
$dark-page: #121212;

$positive: #2d6a4f;
$negative: #c75d3a;
$info: #1b3a6b;
$warning: #c9a84c;
